/* .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}


.header-content .logo {
    display: flex;
    align-items: center;
}

.header-content .logo img {
    height: 100px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}

.header-content .navbar {
    margin-left: 20px;
}

.header-content ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-items a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(2, 2, 2);
    font-size: 18px;
    padding: 12px 30px;
    letter-spacing: 0.5px;
    padding: 0 30px;
}

.navbar-items a:after {
    content: "";
    position: absolute;
    background-color: rgb(216, 137, 137);
    color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar-items a:hover::after{
     width: 100%;
     color: #fff;
 }

 .navbar-items a:hover {
     color: rgb(138, 132, 132);
 } */


 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background: #fff;
    height: 80px;
    width: 100%;
}

.logo-img {
    display: flex;
    align-items: center;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(2, 2, 2);
    font-size: 18px;
    padding: 12px 30px;
    letter-spacing: 0.5px;
    padding: 0 30px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    background-color: rgb(216, 137, 137);
    color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    color: #fff;
}

nav ul li a:hover {
    color: rgb(138, 132, 132);
}

.checkbtn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

 @media (max-width: 952px) {
    label.logo {
        font-size: 25px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 10px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f5f5f5;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
}