<!-- 
<div class="header-content">
  <div class="logo">
    <a href="#"><img src="../assets/TDC-logo.png" alt="" height="250px" width="110px"> </a>
  </div>
  <div class="navbar">
    <ul>
      <li class="navbar-items"><a href="#">Login</a></li>
      <li class="navbar-items"><a href="#">Sign Up</a></li>
      <li class="navbar-items"><a href="#">Products</a></li>
      <li class="navbar-items"><a href="#">Food Blog</a></li>
      <li class="navbar-items"><a href="#">Calorie Counter</a></li>
      <li class="navbar-items"><a href="#">About</a></li>
    </ul>
  </div>
</div> -->

<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
      <i class="fa fa-bars"></i>
  </label>
  <div class="logo-img">
      <a href="#"><img src="../../assets/working_logo.jpg" alt="" height="80px" width="150px"></a>
  </div>
  <ul>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Food Blog</a></li>
      <li><a href="#">Calorie Counter</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>

  </ul>
</nav>
<section></section>