.footer-container {
    background-color: rgb(24, 22, 22);
    padding-top: 15px;
    color: #fff;
    margin-top: 100px;
    height: 195px;
}

.footer-container .contact-hire {
    background-color: rgb(24, 22, 22);
    margin-left: 32%;
    margin-bottom: 6px;
    padding-bottom: 10px;
    width: 500px;
    text-align: center;
}

.contact-hire i {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #66a53a;
    border-radius: 30px;
    width: 30px;
    margin-top: 10px;
    padding: 12px 9px 12px 9px;
}

.container-1 .contact-hire .text {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 5px;
    
}

.text a{
    color:#fff;
    text-decoration: none;
    margin: 0px 7px;
}

.contact-hire .products {
    width: 500px;
    margin-top: 12px;
}

.contact-hire li {
    list-style: none;
    display: inline;
}

.contact-hire .products a{
    color:#fff;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px; 
}

.text a:hover {
    color: #66a53a;
}

.products li a:hover {
    color: #66a53a;
}

.about-company .content {
    text-align: center;
    background-color: #66a53a;
    padding-bottom: 3px;
    padding-top: 13px;
}

.content p {
    font-family:"Montserrat", Sans-serif;
}

.content #text-item-1, #text-item-2 {
    margin-bottom: 10px;
}

#text-item-1 {
    font-size: 22px;
}

#text-item-2 {
    font-size: 14px;
}
