<div class="footer-container">
  <div class="container-1">
    <div class="content-1">
      <div class="contact-hire">
        <div class="icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        <div class="text">
          <a href="#">Home</a>
          |
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsF9vy8VDkBBipKKt81QTNyC0NNBVyCPIUVLKhoXj_BvDmDA/viewform">Contact
            Us</a>
           |
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9Ikgh-OgaDwr4Lwe3Xf7ojVbNq3kF9RLzN0GVU7RSJME9Tw/viewform">Get
            Hired</a>
        </div>
        <div class="products">
          <ul>
            <li><a href="#">Ecommerce</a></li>
            |
            <li><a href="#">Calories Counter</a></li>
            |
            <li><a href="#">Food Blog</a></li>
            |
            <li><a href="#">Steps Counter</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="about-company">
    <div class="content">
      <p id="text-item-1">Create a food diary like never before.</p>
      <p id="text-item-2">© 2021 TheDairingCompany | All rights reserved</p>
    </div>
  </div>
</div>
