.features-container {
    margin-top: 5%;
    text-align: center;
}

.features-container h2 {
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.features-container .features-content {
    margin-top: 5%;
    display: flex;
}

.features-container .coming-soon-gif {
    margin-left: 15%;
    margin-top: 125px;
}

.features-container .features-content .list-items {
    display: flex;
}

.features-container .features-content .list-items .row-1 {
    padding-bottom: 20px;
    margin-left: 3%;
}

.features-container .features-content .list-items #item-1 {
    width: 350px;
    padding-bottom: 30px;
    /* background-color: rgb(204, 224, 218); */
}

.features-container .features-content .list-items #item-1:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: 0.40s;
}