<div class="features-container">
  <h2>Upcoming Features</h2>
  <div class="features-content">
    <div class="list-items">
      <div class="row-1">
        <div id="item-1">
          <img src="../assets/Icons/New-features-Milk.png" alt="" height="200px" width="200px">
          <h4>Varieties of Milk</h4>
          <p>Unadulterated for your health</p>
        </div>
        <div id="item-1">
          <img src="../assets/Icons/New-features-Bread.png" alt="" height="200px" width="200px">
          <h4>Bread</h4>
          <p>Baked with perfection and care</p>
        </div>
      </div>
      <div class="row-2">
        <div id="item-1">
          <img src="../assets/Icons/New-features-Vegetable.png" alt="" height="200px" width="200px">
          <h4>Fresh fruits and vegetables</h4>
          <p>Feed your family the best</p>
        </div>
        <div id="item-1">
          <img src="../assets/Icons/New-features-Offer.png" alt="" height="200px" width="200px">
          <h4>Amazing offers</h4>
          <p>Get exciting deals every month</p>
        </div>
      </div>
    </div>
    <div class="coming-soon-gif">
      <img src="../assets/coming-soon-gif.gif" alt="" height="300" width="400px">
    </div>
  </div>
</div>