.product {
    padding-top: 50px;
    font-size: 18px;
    margin-bottom: 130px;
}

h2 {
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style: none;
}

.product .why h2{
    padding-bottom: 40px;
    /* border-bottom: 2px solid black; */
}

.product h2{
    text-align: center;
    line-height: 25px;
}

.product-container h4 {
    padding-bottom: 10px;
}

.product .product-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.milk-product, .calories-product, .blogging-product, .steps-counter{
    width: 23%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.milk-product:hover, .calories-product:hover, .blogging-product:hover, .steps-counter:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: 0.40s;;
}

.blogging-product, .steps-counter h4{
    
}

