
<div class="product">
    <div class="why">
      <h2 style="text-align: center">Why The Dairing Company?</h2>
    </div>
    <div class="product-container">
      <div class="milk-product">
        <img src="../assets/ShoppingCart.png" alt="" width="100px" height="110px">
        <h4><span>Fresh Milk Ordering</span></h4>
        <ul class="list-items">
          <li>Fresh Milk with just one click. Get it delivered to your doorstep within 28 hours of order..</li>
        </ul>
      </div>
      <div class="calories-product">
        <img src="../assets/CalorieCounter.png" alt="" width="130px" height="130px">
        <h4><span>Calories Counter</span></h4>
        <ul class="list-items">
          <li>Track your meal cycle every day with health tips from certified professionals all over the globe.</li>
        </ul>
      </div>
      <div class="blogging-product">
        <img src="../assets/FoodBlog.png" alt="" width="130px" height="100px">
        <h4><span>Food blogging</span></h4>
        <ul class="list-items">
          <li>A perfect platform to share your food stories, food hacks or food combos.</li>
        </ul>
      </div>
      <div class="steps-counter">
        <img src="../assets/StepsCounter.png" alt="" width="130px" height="100px">
        <h4><span>Steps Counter</span></h4>
        <ul class="list-items">
          <li>Keep a track of distance walked and calories burned.</li>
        </ul>
      </div>
    </div>
</div>
