
<!-- <div class="banner-image" [ngStyle]="{backgroundImage: 'url(../assets/website-banner.jpg)'}">
</div> -->
<div class="banner-image">
    <img src="../assets/website-banner.jpg" alt="WEBSITE BANNER" width="100%" height="530px">
</div>